# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# cloudflare
.vercel
.wrangler

# env files
.env*.local
.env

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
